@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* @layer base {
    :root {
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
    }
  
    .dark {
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
    }
  }
   */

.recharts-wrapper tspan {
  fill: white;
}

.recharts-pie tspan {
  fill: black;
}

.recharts-tooltip-wrapper {
  background-color: #09B96D;
  border-color: none !important;
  padding: 5px;
  color: white;
}

.recharts-tooltip-wrapper div {
  border: none;
}

tr {
  /* background-color: #09B96D;
  background-color: #86efad;
  border-bottom: 5px solid #09B96D !important; */
}

.tablemethis {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.clip-expand-corner {
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 80% 100%, 0% 100%);

}

.box {
  border-radius: 20px 20px 30px 20px;
}

.expath {
  border-radius: 20px 0 20px 0;
}

.illustrationContainer {
  border-radius: 20px !important;
}

.bottomLeft {
  border-radius: 0px 20px 0 0px;
  padding: 20px;
  margin-left: -2px;
}

.bottom {
  border-radius: 20px;
}

.top {
  border-radius: 0 20px 20px 0;
  /* clip-path: path("M0 128Q0 96 32 96Q96 96 96 32Q96 0 128 0H10000V100000H0Z") */
  
}


.top:before {
  content: '';
  position: absolute;
  background-color: white;
  bottom: -10px;
  left: -1px;
  height: 50px;
  width: 102%;
  border-top-left-radius: 25px;
  /* box-shadow: 0 -25px 0 0 #fff; */
}

.top:after {
  content: '';
  position: absolute;
  
  bottom: 40px;
  right: 0px;
  height: 20px;
  width: 20px;
  border-bottom-right-radius: 25px;
  /* box-shadow: 0 -25px 0 0 #fff; */
}




.top .span1 {
  width: 20px;
  height: 30px;
  background-color: white;
  display: block;
  position: absolute;
  right: -2px;
  bottom: 30px;
}


/*  */

 

body {
  /* background-color: #161a19; */
}

.block-container {
  display: flex;
  /* gap: 20px; */

}

.block1,
.block2 {
  /* width: 28%; */
  flex: 1;
  /* margin-top: 130px; */
  height: 430px;
  height: 100%;
  border-radius: 30px;
  position: relative;
}

.block1 {
  background-color: #4e56d3;
  background-color: #d6f6ff;
}

.block2 {
  background-color: #f1f1f1;
  /* background-color: #E2CBF7; */
  margin-left: 16px;
}

.block2:before {
  content: '';
  position: absolute;
  background-color: #161a19;
  /*  */
  right: -30px;
  top: -56px;
  height: 40px;
  width: 60px;
  border-bottom-right-radius: 30px;
  /* z-index: -1; */
}

.block2:after {
  content: '';
  position: absolute;
  background-color: #B3F5BC;
  /* background-color: red; */
  right: -0px;
  top: -56px;
  height: 40px;
  width: 50px;
  border-bottom-right-radius: 30px;
  /* z-index: -1; */
}

.block3 {
  background-color: #525161;
  border-radius: 30px;
  /* position: absolute; */
  /* left: 1016px; */
  /* bottom: 150px; */
  /* box-sizing: content-box !important; */
  border: 16px solid #161a19;
  border-bottom: none;
  width: 500px;
  /* height: 500px; */
  height: 150%;
  top: -50%;
  position: relative;

  z-index: 1;
  border-bottom-left-radius: 20px;
}


.block3:before {
  content: '';
  position: absolute;
  background-color: #161a19;
  right: -25px;
  top: -45px;
  height: 60px;
  width: 30px;
  border-bottom-left-radius: 30px;
  /* z-index: -1; */
}

.block3:after {
  content: '';
  position: absolute;
  background-color: #B3F5BC;
  right: -16px;
  top: -46px;
  height: 30px;
  width: 30px;
  border-bottom-right-radius: 20px;
  /* z-index: -1; */
}

.logInContainer {
  position: absolute;
  right: 0px;
  top: 0;
  width: 400px;
  height: 100px;
  background-color: #161a19;
  /* background: darkblue; */
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom-left-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bcea5f;
  
}

.logInSpan1::before {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #161a19;
  position: absolute;
  top: 0;
  left: -50px;
  border-bottom-left-radius: 30px;
}

.logInSpan1::after {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #B3F5BC;
  position: absolute;
  top: 0;
  left: -50px;
  border-top-right-radius: 30px;
}

.logInSpan2::before {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #161a19;
  position: absolute;
  bottom: -50px;
  right: -0px;
  border-bottom-left-radius: 30px;
}

.logInSpan2::after {
  content: '';
  width: 50px;
  height: 50px;
  background-color: #B3F5BC;
  position: absolute;
  bottom: -50px;
  right: -0px;
  border-top-right-radius: 30px;
}

.bar {
  border-radius: 7px 7px 0 0;
}

.barContainer div:nth-child(3) {
  
  animation-name: bar;
  animation-delay: 1s;
  animation-duration: 20s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}


@keyframes bar {
  0% {height: 81%;}
  10% {height: 40%;}
  20% {height: 40%;}
  40% {height: 81%;}
  100% {height: 81%;}

}


.barContainer div:nth-child(6) {
  
  animation-name: bar2;
  animation-delay: 1s;
  animation-duration: 20s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}


@keyframes bar2 {
  0% {height: 30%;}
  10% {height: 90%;}
  20% {height: 90%;}
  40% {height: 30%;}
  100% {height: 30%;}

}

.barContainer div:nth-child(8) {
  
  animation-name: bar3;
  animation-delay: 1s;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}


@keyframes bar3 {
  0% {height: 67%;}
  10% {height: 80%;}
  20% {height: 80%;}
  40% {height: 67%;}
  100% {height: 67%;}

}

.barContainer div:nth-child(1) {
  
  animation-name: bar4;
  animation-delay: 1s;
  animation-duration: 10s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}


@keyframes bar4 {
  0% {height: 33%;}
  10% {height: 55%;}
  20% {height: 55%;}
  40% {height: 33%;}
  100% {height: 33%;}

}
.barContainer div:nth-child(11) {
  
  animation-name: bar5;
  animation-delay: 1s;
  animation-duration: 20s;
  animation-delay: 9s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}


@keyframes bar5 {
  0% {height: 5%;}
  10% {height: 55%;}
  20% {height: 55%;}
  40% {height: 5%;}
  100% {height: 5%;}

}


.barContainer div:nth-child(odd) {
  background-color: #098638;
}

.fix {
  width:50px;
  height: 60px;
  background-color: #161a19;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 100;
}

.ratingBottom {
  height: 60px;
  padding-top: 20PX;
  border-top: 1px solid white;
  margin: 32px;
}


body {
  width: 100vw;
  /* height: 100vh; */
  overflow: hidden;

}