
.TransactionPageForm {
    /* width: 800px; */
    /* border: 1px solid black; */
    /* margin: auto; */
}

/* .TransactionPageForm .InputContainer {
    display: flex;
     flex-direction: column;
}

.TransactionPageForm input, .TransactionPageForm select {
    background-color: grey;
    width: 200px;
}

.TransactionPageForm button {
    background-color: aqua;
    width: 150px;
}

.TransactionPageForm .submit {
    background-color: green;
    margin-top: 20px;
} */

@keyframes animateForm {
    from {top: 22%; opacity: 0.5;}
    to {top: 20%; opacity: 1;}
  }

.animateForm {
    animation-name: animateForm;
    animation-duration: 200ms;
    
}